body {
  background-color: #eceff1;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1976d2; 
}

.nav-color {
  background-color: #1976d2 !important;
}

.small-header {
  font-size: 1.8rem;
}

.back-course {
  font-size: 40px;
  color: black;
  margin-top: 8px
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smaller-header {
  font-size: 1.8rem;
  text-align: left !important;
}

.zero-margin {
  margin: 0 !important;
}

.content {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.collapsible-header div {
  width: 80%;
  margin: 0 auto;
}

.margin-top-15 {
  margin-top: 15px;
}

#dropdown1 {
  width: 250px !important;
  overflow: hidden !important;
}

.signout-button {
  margin-left: 40px !important;
  margin-right: 40px !important;
  margin-top:14px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  background-color: #1976d2 !important;
}

a.brand-logo.left {
  padding-left: 13px !important;
  font-size: 25px;
}

#class-search {
  background-color: #0d47a1 !important;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #42a5f5 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #1976d2 !important;
}

.spec-course-card {
  background-color: #1976d2;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card {
  padding: 10px !important;
}

.img-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-container {
  flex: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
}

.my-name {
  font-size: 1.2rem;
}

.my-email {
  color: #616161 !important;
}

.sign-out-container {
  padding: 0px !important;
  height: 100px !important;
}

.provide-feedback {
  font-size: 12px;
  color: black !important;
  margin-right: 0px !important;
}

.provide-feedback:hover {
  background-color: transparent !important;
  color: #1976d2 !important;
}

@media screen and (max-width: 650px) {
  .collapsible-header div { width: 95% !important; }
  .collapsible.popout > li { margin: 0 !important; }
  .collapsible.popout > li.active { margin: 16px 0 !important; }
}

.header-container {
  display: flex;
  align-items: center;
}

.current-schedule {
  font-size: 1.85rem !important;
  flex: 1;
  margin-left: 30px;
}

iframe {
  width: 100%;
  height: 100%;
}

.iframe {
  height: 80vh;
}

@media screen and (max-height: 450px) {
  iframe {
    height: 80%;
  }
}

@media screen and (min-width: 601px) {
  .iframe {
    position: fixed !important;
  }
  .delete-class-x {
    top: -35px !important;
  }
}

@media screen and (min-width: 850px) {
  .sync-bar {
    height: 42px !important;
  }
}

@media screen and (min-width: 1200px) {
  .sync-bar {
    height: 44px !important;
  }
  .delete-class-x {
    top: -37px !important;
  }
}

@media screen and (max-width: 600px) {
  .iframe {
    margin-top: 0px !important;
  }

  .smaller-header {
    flex: 1;
    text-align: center !important;
  }

  .signout-button {
    align-items: initial !important;
  }
} 

.class-container {
  width: 85% !important;
}

h6 {
  font-size: 1.2rem !important;
}

.sync-bar {
  background-color: #F44336;
  width: 10px;
  height: 41px;
  position: absolute;
}

.sync-container {
  display: flex;
  align-items: center;
}

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px; 
}

.delete-class-x {
  position: relative;
  float: right;
  top: -33px;
  color: black;
  font-size: 22px;
}

.dept-entry {
  cursor: pointer;
}

.sk-cube::before {
  background-color: black !important;
}

.load::before {
  background-color: #212121 !important;
}

.alt-search {
  margin: 2.5rem;
}

.btn {
  background-color: #f9a825;
}

.btn:hover {
  background-color: #fbc02d;
}

.clear-field {
  margin-right: 2em;
}

.ccn-class-info {
  background-color: white;
  padding: 5px;
  padding-bottom: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.one-line-height {
  line-height: 1.0 !important;
}

.alt-ccn-search {
  position: fixed;
  bottom: 5%;
  transform: translateX(-50%);
  padding: 0 1.2rem !important;
}

.more-info {
  display: none;
}

.dept-entry:hover .more-info {
  display: block;
}

.dept-codes {
  display: none;
}

.code-container {
  background-color: #2196f3;
  border: #f2f2f2 1px solid;
}

.code-container:hover {
  transform: scale(1.05);
}

.course-row {
  margin-bottom: 5px !important;
  padding-bottom: 10px !important;
  padding-top: 15px;
}


.add-course-plus {
  cursor: pointer;
}

.fixed {
  position: fixed !important;
}

.close-modal-x {
  position: absolute;
  top: 2%;
  left: 88%;
}

.dropdown-content li {
  text-align: center !important;
}

.show-codes-button {
  padding: 0 0.5rem !important;
}

.all-codes-container {
  margin-top: 35px !important;
}
