body {
  background-color: #e0f2f1;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #009688; 
}

.content {
  text-align: center;
}

.send-button {
  margin-top: 10px;
}

.course-title {
  float: left;
  font-weight: bold;
}

.course-time {
  float: right;
}

.collapsible-header div {
  width: 50%;
  margin: 0 auto;
}
