body {
  background-color: #e0f2f1;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #009688; 
}

.content {
  text-align: center;
}

.send-button {
  margin-top: 10px;
}

.course-title {
  float: left;
  font-weight: bold;
}

.course-time {
  float: right;
}

.collapsible-header div {
  width: 65%;
  margin: 0 auto;
}

.info-button {
  height: 100% !important;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.info-button:hover {
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.1);
}

.padding-top-15 {
  padding-top: 15px;
}

#dropdown1 {
  width: 250px !important;
}

.signout-link {
  color: white !important;
  height: 36px;
  padding: 10px 20px;
  background-color: #009688;
  border-radius: 2px;
  margin-right: 0px !important;
}

.signout-link i {
  padding-right: 10px;
}

.signout-link:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3) !important;
}

#class-search {
  background-color: #00796b !important;
}

.add-specific-class {
  color: black;
  cursor: pointer;
}

.add-specific-class:hover {
  color: #009688;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card {
  padding: 10px !important;
}

.img-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-container {
  flex: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
}

.my-name {
  font-size: 1.2rem;
}

.my-email {
  color: #616161 !important;
}

.sign-out-container {
  padding: 0px !important;
  height: 65px !important;
}

@media screen and (max-width: 650px) {
  .material-tooltip { display: none !important; }
}

.header-container {
  display: flex;
  align-items: center;
}

.show-my-classes {
  padding-top: 10px;
  padding-bottom: 10px;
}
